.green {background: green; }
.yellow {background: purple;}
.orange {background: orange;}
.violet {background: violet;}
.blue {background: blue;}
.brown {background: yellow green;}
.gold{background: gold;}
.red{background: red;}
.grey{background: grey;}